body {
  background-color: #0074d9; /* fallback blue */
  background-image:
    radial-gradient(black 2px, transparent 3px),
    radial-gradient(black 2px, transparent 3px),
    radial-gradient(yellow 2px, transparent 3px),
    radial-gradient(yellow 2px, transparent 3px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px, 7px 7px, 22px 22px;
}

h1 {
  text-align: center;
}

.bio {
  font-weight: bold;
}
